.jumbotron {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-bottom: 0;
    background-color: #E5E5E5;
}

#timerContainer {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

#gameTimer {
    font-size: max(15px, 1.5vw);
    padding: 0px;
    margin: 10px;
}

.gameGrid{
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #CCCCCC;
}

.vertSep {
    padding: 0px;
    margin: 0px;
    border: solid medium;
}

.horizSep {
    padding: 0px;
    margin: 0px;
    border: solid medium;
}

col {
    padding: 0px;
    margin: 0px;
    border: none;
}


.gridCellInput {
    color: #000000;
    padding: none;
    margin: none;
    border: none;
    text-align: center;
    width: 3vw;
    height: 3vw;
    min-width: 30px;
    min-height: 30px;
    font-size: max(20px, 2vw);
    box-sizing: border-box;
    background-color: #FFFFFF;
}
.gridCellInput:disabled {
    background-color: #E5E5E5;
}

.cellWrong {
    background-color: #FFAAAA;
}
.cellWrong:disabled {
    color: #FF0000;
}

.cellCorrect {
    background-color: #AAFFAA;
}
.cellCorrect:disabled {
    background-color: #AAFFAA;
}

.cellNote {
    font-size: 100%;
    background-color: #FFFFAA;
}



#gameButtons, #difficultyButtons, #noteButton {
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 100%;
}

#btnNewGame, #btnSolve, #btnClear, #btnSuperEasy, #btnEasy, #btnMedium, #btnHard, #noteMode {
    display: inline-block;
    padding: 0px;
    width: 10vw;
    height: 3vw;
    min-width: 100px;
    min-height: 30px;
    font-size: max(12px, 1.2vw);
}

.btn-group {
    margin-left: auto;
    margin-right: auto;
}

.footer{
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-outline-warning{
    border-color: #FFA500;
    color: #FFA500;
}